@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap');

  /* ================
        Utilities
  ================= */

  .btn{
    padding: 0.3125rem 0.9375rem;
    background-color: coral;
    border-radius: 5%;
    font-size: 0.875rem;
    display: inline-block;
  }

/* ================
        GLOBAL
  ================= */
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    background: blue;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2em;
  }

  a{
    text-decoration: none;
    color: white;
  }

  ul{
    list-style: none;
  }

  .text-primary,
  .current{
    color: coral;
  }

  /* ================
        NAVBAR
  ================= */

  #navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 4.375rem;
    background-color: #202020;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0r 1.875rem;
  }

  .navbar{
    display: flex;
  }

  .navbar ul{
    display: flex;
  }



  .navbar li{
    padding: 0 10px;
    font-size: 14px;

  }

 
  .navbar li a:hover{
    color: coral;
    border-bottom: coral solid 2px;
    padding-bottom: 20px;;
  }

    /* ================
           HEADER
     ================= */

  .hero {
    position: relative;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url(/media/img/programming.jpg)no-repeat center/cover;
    height: 100vh;
  }

  .hero .content h1{
    font-size: 3.4375rem;
    font-weight: 300;
    padding-bottom: 1.25rem;
  }

  .content p{
    padding-bottom: 1.25rem;
  }

  .hero::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
  }