@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap');


/* ================
        GLOBAL      
  ================= */
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    background: blue;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2em;
  }

  a{
    text-decoration: none;
    color: white;
  }

  ul{
    list-style: none;
  }

  .logo-color,
  .current{
    color: coral;
  }

  /* ================
        NAVBAR      
  ================= */

  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 70px;
    background: darkblue;
  }

  .navbar{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    height: 90%;
  }

  .navbar li{
    padding: 10px 20px;
    height: 90%;
  }

  .navbar li a:hover{
    color: coral;
    border-bottom: coral solid 2px;
  }